blockquote {
    font-weight: bold;
    border-left: groove;
    padding-left: 5px;
    border-left-color: deepskyblue;
    color: darkred;
}

p > q {
    font-style: italic;
}

main {
    columns: auto 2;
}

article {
    border-radius: 2px;
    border-width: 1px;
    margin: 7px;
    border: 1px solid black;
    box-shadow: 0 1px 1px rgba(0,0,0,0.15);
    padding: 7px;
    display: inline-block;
}

article h3 + p::first-letter {
    font-size: 40px;
    color: red;
    font-weight: bolder;
}

h2,
h3 {
    font-style: italic;
}

.goida {
    width: 260px;
    height: 330px;
    float: right;
}

.goida-russia {
    width: 220px;
    height: 311px;
    float: right;
}
