blockquote {
    font-weight: bold;
    border-left: groove;
    padding-left: 5px;
    border-left-color: deepskyblue;
    color: darkred;
}

p>q {
    font-style: italic;
}

article h3+p::first-letter {
    font-size: 40px;
    color: red;
    font-weight: bolder;
}

h2,
h3 {
    font-style: italic;
}