p {
    margin-top: 0px;
    margin-bottom: 5px;
}

blockquote {
    font-weight: bold;
    border-left: groove;
    padding-left: 5px;
    border-left-color: deepskyblue;
    color: darkred;
    margin: 5px 40px 5px 40px;
}

p > q {
    font-style: italic;
}

main {
    columns: auto 2;
    /*    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 2vw;*/
}

article {
    border-radius: 2px;
    border-width: 1px;
    margin: 7px;
    border: 1px solid black;
    box-shadow: 0 1px 1px rgba(0,0,0,0.15);
    padding: 7px;
    display: inline-block;
}

    article p:first-of-type::first-letter {
        font-size: 70px;
        color: red;
        font-weight: bolder;
        display: block;
        float: left;
    }

h2,
h3 {
    font-style: italic;
}

.goida {
    width: 260px;
    height: 330px;
    float: right;
}

.goida-russia {
    width: 220px;
    height: 311px;
    float: right;
}

@media print {
    * {
        text-align: justify;
    }

    main {
        columns: 1;
    }

    article {
        border: 0px;
        box-shadow: none;
        display: block;
    }

    article {
        border-bottom: 8px double black;
    }

    img {
        display: none;
    }

    article p:first-of-type::first-letter {
        font-size: 40px;
        color: black;
    }

    h2,
    h3 {
        font-style: normal;
        text-decoration: underline;
    }

    blockquote {
        font-weight: normal;
        border: 0px;
        color: black;
        quotes: "\00ab" "\00bb"
    }

        blockquote:before {
            content: open-quote;
        }

        blockquote:after {
            content: close-quote;
        }
}
