nav {
    border: double;
}

#da {
    font-family: 'Comic Sans MS';
}

.img {
    float: right;
    transform: scale(1);
}

/* Comment */
p.plain-text {
    color: cornflowerblue;
}

* {
    font-size: 24px;
}

h1,
h1 * {
    font-size: 48px;
    color: red;
}

#in-case-of-error {
    height: 500px;
    width: 1500px;
}

li a {
    color: blue;
}