nav {
    border: double;
}

/* Comment */
.external-link {
    font-family: 'Times New Roman', Times, serif;
}

#index-main {
    font-family: 'Comic Sans MS';
}

#main-header {
    color: red;
}

img {
    width: 520px;
    height: 660px;
    float: left !important;
}

p.plain-text {
    color: cornflowerblue;
}

img {
    width: 130px;
    height: 165px;
    float: right !important;
}

* {
    font-size: 24px;
}

h1,
h1 * {
    font-size: 48px;
}